
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for tour in tours %}
        <div class="my-4">
            <div class="card myCard h-100">
                <img src="{{ tour.image }}" class="card-img-top myCardImg" alt="{{ tour.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ tour.name }}</h5>
                  <p class="card-text cardText">{{ tour.description }}</p>
                </div>
                <div class="card-body">
                  <p>{{ tour.price }}</p>
                </div>
              </div>
        </div>
   {% endfor %}
</div>
